.space-listing {
  margin: 36px 120px;
}

.space-listing-header {
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-listing-header .title {
  font-size: 36px;
}

.space-listing-header .arrow {
  display: none;
}

.spaces-list {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  position: relative;
}

@media (max-width: 768px) {
  .space-listing {
    margin: 20px;
  }
  .space-listing-header .title {
    font-size: 24px;
  }
  .space-listing-header .arrow {
    display: unset;
  }
}

@media (min-width: 768px) and (max-width: 1120px) {
  .space-listing {
    margin: 40px;
  }
  .space-listing-header .title {
    font-size: 30px;
  }
}
