.space-listing {
  margin: 36px 120px;
}

.space-listing-header {
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-listing-header .title {
  font-size: 36px;
}

.spaces-list {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  position: relative;
}
