.amenities {
  margin: 36px 120px;
}

.amenities-header {
  /* font-size: 32px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amenities-header .title {
  font-size: 36px;
}

.amenities-header .arrow {
  display: none;
}

.amenities-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}

.amenity-card {
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 24px;
  width: 300px;
  height: 80px;
}

.amenity-logo {
  height: 32px;
  width: 32px;
}

.amenity-name {
  font-size: 18px;
}

@media (max-width: 600px) {
  .amenities {
    margin: 20px;
  }
  .amenities-header .title {
    font-size: 24px;
  }
  .amenities-header .arrow {
    display: unset;
  }
  .amenity-card {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;
    width: 154px;
    height: 80px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  }
  .amenity-name {
    font-size: 14px;
    margin: 0;
  }
  .amenity-logo {
    height: 28px;
    width: 28px;
  }
}
