.amenities {
  margin: 36px 120px;
}

.amenities-header {
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amenities-header .title {
  font-size: 36px;
}

.amenities-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}

.amenity-card {
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 24px;
  width: 300px;
  height: 80px;
}

.amenity-logo {
  height: 32px;
  width: 32px;
}

.amenity-name {
  font-size: 18px;
}
